* {
  box-sizing: border-box;
  font-family: monospace, system-ui, fantasy, cursive, serif;
  &::-webkit-scrollbar-track {
    background-color: var(--bg-color);
  }
  
  &::-webkit-scrollbar {
    width: 4px;
    background-color: var(--bg-color);
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
  }
}

body {
  overflow-x: hidden;
  background-color: var(--bg-color);
  color: var(--font-color);
}
input, button {
  background-color: var(--bg-color);
}

button, input {
  border: 1px solid var(--color);
}
 

/* Hide handler for WebKit browsers */


