* {
  box-sizing: border-box;
  font-family: monospace, system-ui, fantasy, cursive, serif;
  &::-webkit-scrollbar-track {
    background-color: var(--bg-color);
  }

  &::-webkit-scrollbar {
    width: 4px;
    background-color: var(--bg-color);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
  }
}

:root {
  --border: 1px solid #e2e8f0;
}

body {
  overflow-x: hidden;
  background-color: var(--bg-color);
  color: var(--font-color);
}
input,
button {
  background-color: var(--bg-color);
}

button,
input[type='text'] {
  border: 1px solid var(--color);
}
input[type='radio'] {
  // accent-color: #f315f3;
}
button:disabled,
button[disabled] {
  background-color: #ddd;
  color: #666666;
  svg {
    stroke: #aaa;
    path {
      fill: #aaa;
    }
  }
}
progress {
  -webkit-appearance: none;
   appearance: none;
}

/* Hide handler for WebKit browsers */

.progress {
  /* background: */
  &::-webkit-progress-bar {
    background-color: transparent;
    width: 100%;
  }
  background-color: transparent;
  display: block;
  width: 100%;
  border-radius: 0;
  height: 100%;

  /* value: */
  &::-webkit-progress-value {
    background-color: rgba(4, 9, 9, 0.35) !important;
  }
  &::-moz-progress-bar {
    background-color: rgba(4, 9, 9, 0.35) !important;
  }
  color: rgba(4, 9, 9, 0.35);
}
.ll {
  overflow: scroll !important;
}